################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/parking/config/applicationhost.config
/.vs/parking/v16/.suo
/.vs/slnx.sqlite
/src/Parking.API/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.Infra.pdb
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.Infra.dll
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.API.runtimeconfig.json
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.API.runtimeconfig.dev.json
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.API.pdb
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.API.dll
/src/Parking.API/bin/Debug/netcoreapp2.1/Parking.API.deps.json
/src/Parking.API/bin/Debug/netcoreapp2.1/appsettings.json
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.RazorTargetAssemblyInfo.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.RazorAssemblyInfo.cs
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.RazorAssemblyInfo.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.pdb
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.genruntimeconfig.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.dll
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.csprojAssemblyReference.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.csproj.FileListAbsolute.txt
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.csproj.CoreCompileInputs.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.csproj.CopyComplete
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.assets.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.AssemblyInfoInputs.cache
/src/Parking.API/obj/Debug/netcoreapp2.1/Parking.API.AssemblyInfo.cs
/src/Parking.API/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.API/obj/Release/netcoreapp2.1/Parking.API.RazorAssemblyInfo.cs
/src/Parking.API/obj/Release/netcoreapp2.1/Parking.API.RazorAssemblyInfo.cache
/src/Parking.API/obj/Release/netcoreapp2.1/Parking.API.assets.cache
/src/Parking.API/obj/Release/netcoreapp2.1/Parking.API.AssemblyInfoInputs.cache
/src/Parking.API/obj/Release/netcoreapp2.1/Parking.API.AssemblyInfo.cs
/src/Parking.API/obj/Release/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.API/obj/project.nuget.cache
/src/Parking.API/obj/project.assets.json
/src/Parking.API/obj/Parking.API.csproj.nuget.g.targets
/src/Parking.API/obj/Parking.API.csproj.nuget.g.props
/src/Parking.API/obj/Parking.API.csproj.nuget.dgspec.json
/src/Parking.Domain/bin/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.Domain/bin/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.Domain/bin/Debug/netcoreapp2.1/Parking.Domain.deps.json
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.csprojAssemblyReference.cache
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.csproj.FileListAbsolute.txt
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.csproj.CoreCompileInputs.cache
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.assets.cache
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.AssemblyInfoInputs.cache
/src/Parking.Domain/obj/Debug/netcoreapp2.1/Parking.Domain.AssemblyInfo.cs
/src/Parking.Domain/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.Domain/obj/Debug/netcoreapp3.1/Parking.Domain.csprojAssemblyReference.cache
/src/Parking.Domain/obj/Debug/netcoreapp3.1/Parking.Domain.assets.cache
/src/Parking.Domain/obj/Debug/netcoreapp3.1/Parking.Domain.AssemblyInfoInputs.cache
/src/Parking.Domain/obj/Debug/netcoreapp3.1/Parking.Domain.AssemblyInfo.cs
/src/Parking.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/Parking.Domain/obj/Release/netcoreapp2.1/Parking.Domain.assets.cache
/src/Parking.Domain/obj/Release/netcoreapp2.1/Parking.Domain.AssemblyInfoInputs.cache
/src/Parking.Domain/obj/Release/netcoreapp2.1/Parking.Domain.AssemblyInfo.cs
/src/Parking.Domain/obj/Release/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.Domain/obj/project.nuget.cache
/src/Parking.Domain/obj/project.assets.json
/src/Parking.Domain/obj/Parking.Domain.csproj.nuget.g.targets
/src/Parking.Domain/obj/Parking.Domain.csproj.nuget.g.props
/src/Parking.Domain/obj/Parking.Domain.csproj.nuget.dgspec.json
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.Infra.pdb
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.Infra.dll
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.ExtensibleMarkupLanguage.API.runtimeconfig.json
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.ExtensibleMarkupLanguage.API.runtimeconfig.dev.json
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.ExtensibleMarkupLanguage.API.pdb
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.ExtensibleMarkupLanguage.API.dll
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.ExtensibleMarkupLanguage.API.deps.json
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.ExtensibleMarkupLanguage.API/bin/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.Infra/bin/Debug/netcoreapp2.1/Parking.Infra.pdb
/src/Parking.Infra/bin/Debug/netcoreapp2.1/Parking.Infra.dll
/src/Parking.Infra/bin/Debug/netcoreapp2.1/Parking.Infra.deps.json
/src/Parking.Infra/bin/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.Infra/bin/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.pdb
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.dll
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.csprojAssemblyReference.cache
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.csproj.FileListAbsolute.txt
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.csproj.CoreCompileInputs.cache
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.csproj.CopyComplete
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.assets.cache
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.AssemblyInfoInputs.cache
/src/Parking.Infra/obj/Debug/netcoreapp2.1/Parking.Infra.AssemblyInfo.cs
/src/Parking.Infra/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.Infra/obj/Debug/netcoreapp3.1/Parking.Infra.csprojAssemblyReference.cache
/src/Parking.Infra/obj/Debug/netcoreapp3.1/Parking.Infra.csproj.FileListAbsolute.txt
/src/Parking.Infra/obj/Debug/netcoreapp3.1/Parking.Infra.assets.cache
/src/Parking.Infra/obj/Debug/netcoreapp3.1/Parking.Infra.AssemblyInfoInputs.cache
/src/Parking.Infra/obj/Debug/netcoreapp3.1/Parking.Infra.AssemblyInfo.cs
/src/Parking.Infra/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/Parking.Infra/obj/Release/netcoreapp2.1/Parking.Infra.assets.cache
/src/Parking.Infra/obj/Release/netcoreapp2.1/Parking.Infra.AssemblyInfoInputs.cache
/src/Parking.Infra/obj/Release/netcoreapp2.1/Parking.Infra.AssemblyInfo.cs
/src/Parking.Infra/obj/Release/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.Infra/obj/project.nuget.cache
/src/Parking.Infra/obj/project.assets.json
/src/Parking.Infra/obj/Parking.Infra.csproj.nuget.g.targets
/src/Parking.Infra/obj/Parking.Infra.csproj.nuget.g.props
/src/Parking.Infra/obj/Parking.Infra.csproj.nuget.dgspec.json
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Test.runtimeconfig.json
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Test.runtimeconfig.dev.json
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Test.pdb
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Test.dll
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Test.deps.json
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Domain.pdb
/src/Parking.Test/bin/Debug/netcoreapp2.1/Parking.Domain.dll
/src/Parking.Test/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
/src/Parking.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/src/Parking.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/src/Parking.Test/bin/Debug/netcoreapp2.1/nunit.engine.dll
/src/Parking.Test/bin/Debug/netcoreapp2.1/nunit.engine.api.dll
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.pdb
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.genruntimeconfig.cache
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.dll
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.csprojAssemblyReference.cache
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.csproj.FileListAbsolute.txt
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.csproj.CoreCompileInputs.cache
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.csproj.CopyComplete
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.assets.cache
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.AssemblyInfoInputs.cache
/src/Parking.Test/obj/Debug/netcoreapp2.1/Parking.Test.AssemblyInfo.cs
/src/Parking.Test/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/src/Parking.Test/obj/Debug/netcoreapp3.1/Parking.Test.csprojAssemblyReference.cache
/src/Parking.Test/obj/Debug/netcoreapp3.1/Parking.Test.assets.cache
/src/Parking.Test/obj/Debug/netcoreapp3.1/Parking.Test.AssemblyInfoInputs.cache
/src/Parking.Test/obj/Debug/netcoreapp3.1/Parking.Test.AssemblyInfo.cs
/src/Parking.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/Parking.Test/obj/project.nuget.cache
/src/Parking.Test/obj/project.assets.json
/src/Parking.Test/obj/Parking.Test.csproj.nuget.g.targets
/src/Parking.Test/obj/Parking.Test.csproj.nuget.g.props
/src/Parking.Test/obj/Parking.Test.csproj.nuget.dgspec.json
/src/Parking.Test/obj/Release/netcoreapp2.1/Parking.Test.assets.cache
/src/Parking.Test/obj/Release/netcoreapp2.1/Parking.Test.AssemblyInfoInputs.cache
/src/Parking.Test/obj/Release/netcoreapp2.1/Parking.Test.AssemblyInfo.cs
/src/Parking.Test/obj/Release/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
